.mouse {
    font-size: 1.5px;
    width: 22em;
    height: 36em;
    border-radius: 12em;
    border: 2.5em solid #fff;
    position: relative;
}
.wheel {
    width: 2.5em;
    height: 3.6em;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%);
    top: 6em;
    position: absolute;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes scroll {
    0% {
        top: 6em;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 22em;
        opacity: 0;
    }
}